

<h3> {{projectName}} Contact Form</h3>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <td>Name:</td>
    <td>{{name}}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{email}}</td>
  </tr>
  <tr>
    <td>Message:</td>
    <td> {{message}}</td>
  </tr>
</table>