{{>header}}

<title>Contact Us</title> 

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
  <div class="col-sm-6">
    <div class="page-header">
      <h1>Send A Message</h1>
    </div>
    <div id="contact"></div>
  </div>
  <div class="col-sm-6 special">
    <div class="page-header">
      <h1>Contact Us</h1>
    </div>
    <p class="lead">Freddy can't wait to hear from you.</p><i class="fa fa-reply-all super-awesome"></i>
    <address>1428 Elm Street &bull; San Francisco, CA 94122</address>
  </div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-contact">
  <form>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
    </div>
    \{{/each}}
    \{{#if success}}
    <div class="alert alert-info alert-dismissable">
      We have received your message. Thank you.
      <button type="button" data-dismiss="alert" class="close">&times;</button>
    </div>
    \{{/if}}
    \{{#unless success}}
    <div class="form-group \{{#if errfor.name}}has-error\{{/if}}">
      <label>Your Name:</label>
      <input type="text" name="name" value="\{{name}}" class="form-control"/>
      \{{#if errfor.name}}
      <span class="help-block">\{{errfor.name}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.email}}has-error\{{/if}}">
      <label>Your Email:</label>
      <input type="text" name="email" value="\{{email}}" class="form-control"/>
      \{{#if errfor.email}}
      <span class="help-block">\{{errfor.email}}</span>
      \{{/if}}
    </div> 
    <div class="form-group \{{#if errfor.message}}has-error\{{/if}}">
      <label>Message:</label>
      <textarea name="message" rows="5" class="form-control">\{{message}}</textarea>
      \{{#if errfor.message}}
      <span class="help-block"> \{{errfor.message}}</span>
      \{{/if}}
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-contact">Send Message</button>
    </div>
    \{{/unless}}
  </form> 
</script> 

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/contact/index.js"></script>


