9{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
<div class="col-lg-2">  <!-- sidebar -->
  {{>adminsidebar}}
</div> <!-- end sidebar -->

<div class="col-sm-10">  <!-- content area -->
  <div class="row">  <!-- search row -->
     <form class="navbar-form" id="_search"></form>
  </div>  <!-- end search row -->

  <ul class="nav nav-tabs">  <!-- tabs navigation -->
    <li class="active"><a href="#admin-summary" data-toggle="tab"><b>Summary</b></a></li>
    <li><a href="#admin-recent-activity" data-toggle="tab"><b>Recent Activity</b></a></li>
  </ul> <!-- end tabs navigation -->

  <div class="tab-content">   <!-- whole tab content -->
    <div class="tab-pane active" id="admin-summary">  <!-- whole admin summary tab -->
      <br> <!-- Empty line -->
      <div class="row">  <!-- admin summary tab row -->
        <div class="col-sm-3">   <!-- users col -->
          <div class="well text-right">
            <legend class="pull-left">Users</legend>
            <h4><span class="pull-left"><small>Total:</small></span><span class="label label-default">{{userCount}}</span></h4>
            <h4><span class="pull-left"><small>Inactive:</small></span><span class="label label-default">{{userInactiveCount}}</span></h4>
            <h4><span class="pull-left"><small>Visitor accounts:</small></span><span class="label label-default">{{visitorsForUserCount}}</span></h4>
            <h4><span class="pull-left"><small>Customer accounts:</small></span><span class="label label-default">{{customersForUserCount}}</span></h4>
            <h4><span class="pull-left"><small>W/Uninked Account:</small></span><span class="label label-default">{{noAccountLinkCount}}</span></h4>
          </div>
        </div>    <!-- end users col -->
        <div class="col-sm-3">   <!-- accounts col -->
          <div class="well text-right">
            <legend class="pull-left">Accounts</legend>
            <h4><span class="pull-left"><small>Total:</small></span><span class="label label-default">{{accountCount}}</span></h4>
            <h4><span class="pull-left"><small>Visitors:</small></span><span class="label label-default">{{visitorsForAccountCount}}</span></h4>
            <h4><span class="pull-left"><small>Customers:</small></span><span class="label label-default">{{customersForAccountCount}}</span></h4>
            <h4><span class="pull-left"><small>Not verified:</small></span><span class="label label-default">{{notVerifiedAccountsCount}}</span></h4>
            <h4><span class="pull-left"><small>W/Uninked User:</small></span><span class="label label-default">{{noUserLinkInAccountCount}}</span></h4>
          </div>
        </div>    <!-- end accounts col -->
        <div class="col-sm-3">     <!-- admins col -->
          <div class="well text-right">
            <legend class="pull-left">Admins</legend>
            <h4><span class="pull-left"><small>Total:</small></span><span class="label label-default">{{adminCount}}</span></h4>
            <h4><span class="pull-left"><small>Root:</small></span><span class="label label-default">{{rootsForAdminCount}}</span></h4>
            <h4><span class="pull-left"><small>Administrators:</small></span><span class="label label-default">{{administratorsForAdminCount}}</span></h4>
            <h4><span class="pull-left"><small>Moderators:</small></span><span class="label label-default">{{moderatorsForAdminCount}}</span></h4>
            <h4><span class="pull-left"><small>W/Uninked User:</small></span><span class="label label-default">{{noUserLinkInAdminCount}}</span></h4>
          </div>
        </div>     <!-- end admins col -->
        <div class="col-sm-3">    <!-- groups col -->
          <div class="well text-right">
            <legend class="pull-left">Groups</legend>
            <h4><span class="pull-left"><small>Account Groups:</small></span><span class="label label-default">{{accountGroupCount}}</span></h4>
            <h4><span class="pull-left"><small>Admin Groups:</small></span><span class="label label-default">{{adminGroupCount}}</span></h4>
          </div>
        </div>   <!-- end groups col -->
      </div>  <!--  end admin summary tab row -->
    </div>  <!-- end whole admin summary tab -->

    <div class="tab-pane" id="admin-recent-activity">  <!-- whole recent activity tab -->
      <br> <!-- Empty line -->
      <div class="row">   <!-- recent activity tab row -->
        <div class="col-sm-4">
          <fieldset>
            <div id="recent-user-activity-collection"></div>
          </fieldset>
        </div>
        <div class="col-sm-4">
          <fieldset>
            <div id="recent-account-activity-collection"></div>
          </fieldset>
        </div>
        <div class="col-sm-4">
          <fieldset>
            <div id="recent-note-activity-collection"></div>
          </fieldset>
        </div>
      </div> <!-- end recent activity tab row -->
    </div> <!-- end whole recent activity  tab -->
  </div><!-- end whole tab content -->
</div><!-- end content area -->
</div><!-- end wrapper row -->
</div><!-- end wrapper -->
{{>footer}}

<script type="text/x-handlebars-template" id="tmpl-_search">
  <div class="dropdown">
        <div class="form-group" style="display:inline;">
          <div class="input-group" style="display:table;">
            <input class="form-control" name="search" placeholder="Search for users accounts and admins" autocomplete="off" autofocus="autofocus" type="text">
            <span class="input-group-addon" style="width:1%;"><span><i class="fa fa-search" aria-hidden="true"></i></span></span>
          </div>
        </div>
    <ul id="_search-results-rows" class="dropdown-menu" style=" width:100%;"></ul>
  </div>
</script>

<script type="text/x-handlebars-template" id="tmpl-_search-results-row">
  \{{#ifCond type '===' 'header'}}
    \{{name}}
  \{{else}}
    <a href="\{{url}}">\{{name}}</a>
  \{{/ifCond}}
</script>

<script type="text/x-handlebars-template" id="tmpl-_search-results-empty-row">
  <li class="dropdown-header">no docs matched</li>
</script>

<!-- <script type="text/x-handlebars-template" id="tmpl-user-recent-activity-collection">
  <legend>Recent User Activity</legend>
  <div id="user-recent-activity-items" class="user-recent-activity-items"></div>
</script>

<script type="text/x-handlebars-template" id="tmpl-user-recent-activity-item">
  <fieldset>
  <div class="force-wrap">
    <b>\{{action}}</b><br>
    <hr>
    <b>Details</b><br>
    <small><b>Active</b></small><br>
    \{{isActive}}<br>
    <small><b>Username</b></small><br>
    \{{username}}<br>
    <small><b>Email</b></small><br>
    \{{email}}<br>
    <small><b>Full Name</b></small><br>
    \{{name.full}}<br>
    <small><b>Roles</b></small><br>
    Account&nbsp;-&nbsp;\{{roles.account}}<br>
    Admin&nbsp;-&nbsp;\{{roles.admin}}<br>
  </div>
      <br> Empty line
      <br> Empty line
  </div>
  <div class="center-block badge">
    Visitor&nbsp;-&nbsp;\{{valid}}
  </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="tmpl-user-recent-activity-none">
  <div class="user-recent-activity text-muted">No recent actions for Users</div>
</script>

<script type="text/x-handlebars-template" id="data-record">{{{data.record}}}</script> -->

<script type="text/x-handlebars-template" id="tmpl-_search">
  <div class="dropdown">
    <input name="_search" type="text" placeholder="search" tab-index="1" class="form-control"/>
    <ul id="_search-results-rows" class="dropdown-menu"></ul>
  </div>
</script>

<script type="text/x-handlebars-template" id="tmpl-_search-results-row">
  \{{#ifCond type '==' 'header'}}
    \{{name}}
  \{{else}}
    <a href="\{{url}}">\{{name}}</a>
  \{{/ifCond}}
</script>

<script type="text/x-handlebars-template" id="tmpl-_search-results-empty-row">
  <li class="dropdown-header">no docs matched</li>
</script>






<link rel="stylesheet" href="/css/vendor.min.css">
<!-- <link rel="stylesheet" href="/css/main.min.css">
 -->
<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/admin/admin.js"></script>