{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
<div class="col-lg-2">  <!-- sidebar -->
  {{>adminsidebar}}
</div> <!-- end sidebar -->

<div class="col-sm-10">  <!-- content area -->
<div class="row">
  <div class="col-xs-12">
    <div id="header"></div>
    <div id="filters"></div>
    <div id="results-table"></div>
    <div id="results-paging"></div>
  </div>
</div>
</div> <!-- end content area -->
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-header">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-6">
        <h1>Administrators</h1>
      </div>
      <div class="col-sm-6">
        <div class="input-group pull-right">
        <input name="name" type="text" placeholder="Enter a name" value="\{{name.full}}" class="form-control"/>
         <span class="input-group-btn">
          <button type="button" class="btn btn-primary btn-add">Add New</button>
        </span>
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/x-handlebars-template" id="tmpl-filters">
  <form class="filters">
    <div class="row">
      <div class="col-sm-4">
        <label>Name Search</label>
        <input name="search" type="text" class="form-control"/>
      </div>
      <div class="col-sm-4">
        <label>Sort By</label>
        <select name="sort" class="form-control">
          <option value="_id">id &#9650;</option>
          <option value="-_id">id &#9660;</option>
          <option value="name">name &#9650;</option>
          <option value="-name">name &#9660;</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label>Limit</label>
        <select name="limit" class="form-control">
          <option value="10">10 items</option>
          <option value="20" selected="selected">20 items</option>
          <option value="50">50 items</option>
          <option value="100">100 items</option>
        </select>
      </div>
    </div>
  </form>
</script>

<script type="text/x-handlebars-template" id="tmpl-results-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th class="stretch">name</th>
        <th>id</th>
      </tr>
    </thead>
    <tbody id="results-rows"></tbody>
  </table>
</script>

<script type="text/x-handlebars-template" id="tmpl-results-row">
  <td>
    <input type="button" value="Edit" class="btn btn-default btn-sm btn-details"/>
  </td>
  <td class="nowrap">\{{name.full}}</td>
  <td>\{{_id}}</td>
</script>

<script type="text/x-handlebars-template" id="tmpl-results-empty-row">
  <tr>
    <td colspan="3">no documents matched</td>
  </tr>
</script>

<script type="text/x-handlebars-template" id="tmpl-results-paging">
  <div class="well">
    <div class="btn-group pull-left">
      <button disabled="disabled" class="btn btn-default">Page \{{pages.current}} of \{{pages.total}}</button>
      <button disabled="disabled" class="btn btn-default">Rows \{{items.begin}} - \{{items.end}} of \{{items.total}}</button>
    </div>
    <div class="btn-group pull-right">
      <button data-page="\{{pages.prev}}" class="btn btn-default btn-page btn-prev">Prev</button>
      <button data-page="\{{pages.next}}" class="btn btn-default btn-page btn-next"> Next</button>
    </div>
    <div class="clearfix"></div>
  </div>
</script>

<script type="text/x-handlebars-template" id="data-results">{{{data.results}}}</script> 

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/admin/administrators/index.js"></script>
