{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
<div class="col-lg-2">  <!-- sidebar -->
  {{>accountsidebar}}
</div> <!-- end sidebar -->

<div class="col-sm-10">  <!-- content area -->
  <div class="row">  <!-- user col-10 length header -->
    <div class="col-sm-3">
      <h4>Welcome, </h4>
      <h2>{{user.username}}</h2>
    </div>
    <div class="col-sm-3">
      <div class="well">
        <h4>
          <div><small>Today is</small></div>
          <span class="label label-default center-block current-date">--</span>
        </h4>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="well">
        <h4>
          <div><small>Local time</small></div>
          <span class="label label-default center-block current-time">--</span>
        </h4>
      </div>
    </div>
  </div> <!-- end user col-10 length header -->
    <hr class="">
    <div class="col-sm-3"><!--left col user information tables-->
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Joined</div>
        <div class="panel-body">
          On&nbsp;{{dateFormat user.timeCreated format="LL"}}&nbsp;at&nbsp;{{dateFormat user.timeCreated format="h:mm:ss"}} 
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Last visit</div>
        <div class="panel-body">
         {{#ifCond (math user.visits.length '-' 2) '>' 0}}
         {{#each user.visits}}
         {{#isNthLastArrayItem @root.user.visits @index 2}}
         {{dateFromNow this}},&nbsp;on&nbsp;{{dateFormat this format="MMMM DD"}}
         at&nbsp;{{dateFormat this format="HH:mm"}}
         <br>
         {{/isNthLastArrayItem}}
         {{/each}}
         {{/ifCond}}
       </div>
     </div>
     <ul class="list-group">
      <li class="list-group-item text-muted" contenteditable="false">
        <i class="fa fa-server" aria-hidden="true"></i>&nbsp;Account
      </li>
      <li class="list-group-item text-right">
        <span class="pull-left"><strong class="">User Group:</strong></span>
        {{#if user.roles.account.groups.[0]}}
        {{user.roles.account.groups.[0]}}
        {{else}}
        N/A
        {{/if}}
      </li>
      <li class="list-group-item text-right">
        <span class="pull-left"><strong class="">Admin Group: </strong></span>
        {{#if user.roles.admin.groups.[0]}}
        {{user.roles.admin.groups.[0]}}
        {{else}}
        N/A
        {{/if}}
      </li>
    </ul>
  </div><!-- end left col user information tables-->
  <div class="col-sm-9">  <!--right col user information tables-->
    <div class="row">  <!-- user fields panel row -->
            <div class="panel panel-default target">  <!-- whole panel -->
        <div class="panel-heading"><i class="fa fa-id-badge" aria-hidden="true"></i>&nbsp;Contact</div>
        <div class="panel-body">  <!-- panel body -->
          <div class="row"> <!-- first row of fields -->
            <div class="col-md-4">
              <div class="thumbnail">
                <div class="panel-heading"><strong><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Active</strong></div>
                <div class="panel-body">{{#if user.isActive}}{{user.isActive}}{{else}}Not specified{{/if}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <div class="panel-heading"><strong><i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;First&nbsp;Name</strong></div>
                <div class="panel-body">{{#if user.name.first}}{{user.name.first}}{{else}}Not specified{{/if}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <div class="panel-heading"><strong><i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;Last&nbsp;Name</strong></div>
                <div class="panel-body">{{#if user.name.last}}{{user.name.last}}{{else}}Not specified{{/if}}</div>
              </div>
            </div>
          </div>  <!-- end first row of fields -->
          <div class="row">   <!-- second row of fields -->
            <div class="col-md-4">
              <div class="thumbnail">
                <div class="panel-heading"><strong><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Phone</strong></div>
                <div class="panel-body">{{#if user.phone}}{{user.phone}}{{else}}Not specified{{/if}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <div class="panel-heading"><strong><i class="fa fa-building" aria-hidden="true"></i>&nbsp;Company</strong></div>
                <div class="panel-body">{{#if user.company}}{{user.company}}{{else}}Not specified{{/if}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <div class="panel-heading"><strong><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;Occupation</strong></div>
                <div class="panel-body">{{#if user.occupation}}{{user.occupation}}{{else}}Not specified{{/if}}</div>
              </div>
            </div>
          </div>   <!-- end second row of fields -->
        </div>   <!-- end panel body -->
      </div>   <!-- end whole panel -->
    </div> <!-- end user fields panel row -->
    <div class="row"> <!-- user's bio panel row -->
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;{{user.username}}'s Bio</div>
        <div class="panel-body">{{#if user.about}}{{user.about}}{{else}}Not specified{{/if}}</div>
      </div>
    </div>  <!-- end user's bio panel row -->
  </div>  <!--end right col user information tables-->
</div>  <!-- end content area -->
</div><!-- end wrapper row -->
</div><!-- end wrapper -->
  {{>footer}}

  <link rel="stylesheet" href="/css/vendor.min.css">
  <link rel="stylesheet" href="/css/main.min.css">

  <script src="/js/vendor.min.js"></script>
  <script src="/js/main.min.js"></script>
  <script src="/core.js"></script>
  <script src="/account/index.js"></script>

