{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
<div class="col-lg-2">  <!-- sidebar -->
  {{>adminsidebar}}
</div> <!-- end sidebar -->

<div class="col-sm-10">  <!-- content area -->
  <div class="row">
  <div class="col-xs-12">
    <div id="header"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div id="header"></div>
    <div class="col-sm-6">
      <div id="details"></div>
      <div id="link-user"></div>
    </div>
    <div class="col-sm-6">
      <div id="groups"></div>
      <div id="delete"></div>
    </div>
  </div>
</div>
</div> <!-- end content area -->
</div><!-- end wrapper row -->
</div><!-- end wrapper -->


<script type="text/x-handlebars-template" id="tmpl-header">
  <div class="page-header">
    <h1>
      <a href="/admin/accounts/">Accounts</a>&nbsp;/&nbsp;\{{name.full}}
    </h1>
  </div>
</script>

<script type="text/x-handlebars-template" id="tmpl-details">
  <fieldset>
    <legend>Contact Info</legend>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
      </div>
      \{{/each}}
      \{{#if success}}
      <div class="alert alert-info alert-dismissable">
        Changes have been saved.
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.first}}has-error \{{/if}}">
      <label>First Name:</label>
      <input type="text" name="first" value="\{{first}}" placeholder="Enter your first name" class="form-control"/>
      \{{#if errfor.first}}
      <span class="help-block">\{{errfor.first}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.last}}has-error \{{/if}}">
      <label>Last Name:</label>
      <input type="text" name="last" value="\{{last}}" placeholder="Enter your last name" class="form-control"/>
      \{{#if errfor.last}}
      <span class="help-block">\{{errfor.last}}</span>
      \{{/if}}
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-update">Update</button>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="tmpl-link-user">
  <fieldset>
    <legend>Link to user</legend>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/each}}
    </div>
    <div class="form-group \{{#if errfor.newUsername}}has-error \{{/if}}">
      <label>User:</label>
      <div class="input-group">
        \{{#if name}}
        <input disabled="disabled" value="\{{name}}" class="form-control"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-warning btn-user-unlink">Unlink</button>
          <button type="button" class="btn btn-default btn-user-open">Open</button>
        </div>
        \{{else}}
        <input name="newUsername" type="text" placeholder="Enter username" class="form-contSrol"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-success btn-user-link">Link</button>
        </div>
        \{{/if}}
      </div>
      \{{#if errfor.newUsername}}
      <span class="help-block">\{{errfor.newUsername}}</span>
      \{{/if}}
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="tmpl-groups">
  <fieldset>
    <legend>Groups</legend>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" data-dismiss="alert" class="close">&times;</button>
        \{{this}}
      </div>
      \{{/each}}
      \{{#if success}}
      <div class="alert alert-info alert-dismissable">
        <button type="button" data-dismiss="alert" class="close">&times;</button>
        Changes have been saved.
      </div>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.newMembership}}has-error \{{/if}}">
      <label>Add Membership:</label>
      <div class="input-group">
        <select name="newMembership" class="form-control">
          {{#each data.accountGroups}}
            <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <div class="input-group-btn">
          <button type="button" class="btn btn-success btn-add">Add</button>
        </div>
      </div>
      \{{#if errfor.newMembership}}
      <span class="help-block">\{{errfor.newMembership}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.groups}}has-error \{{/if}}">
      <label>Memberships:</label>
      <div class="groups">
        \{{#each groups}}
        <div class="input-group">
          <input disabled="disabled" value="\{{this.name}}" class="form-control"/>
          <div class="input-group-btn">
            <button type="button" class="btn btn-danger btn-delete"><i class="fa fa-trash-o fa-inverse"></i></button>
          </div>
        </div>
        \{{/each}}
        \{{#ifCond groups.length '==' 0}}
        <span class="badge">no memberships defined</span>
        \{{/ifCond}}
        \{{#if errfor.groups}}
        <span class="help-block">\{{errfor.groups}}</span>
        \{{/if}}
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-save">Save Groups</button>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="tmpl-delete">
  <fieldset>
    <legend>Danger Zone</legend>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/each}}
    </div>
    <div class="form-group">
      <span class="help-block">
        <span class="label label-danger">If you do this, it cannot be undone.</span>&nbsp;
        <span class="text-muted">You may also create orphaned document relationships too.</span>
      </span>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger btn-delete">Delete</button>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="data-record">{{{data.record}}}</script>

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/admin/accounts/details.js"></script>
