  <div id="sidebar" class="well sidebar-nav">
    <h5><i class="fa fa-user" aria-hidden="true"></i>
      <b>Profile</b>
    </h5>
    <small>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/account/">Home</a></li>
      </ul>
    </small>
    <h5><i class="fa fa-wrench" aria-hidden="true"></i>
      <b>Settings</b>
    </h5>
    <small>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/account/settings/">Edit Profile</a></li>
      </ul>
    </small>
    <h5><i class="fa fa-sign-out" aria-hidden="true"></i></i><b>&nbsp;Exit</b></h5>
    <small>
      <ul class="nav nav-pills nav-stacked">
        {{#if adminGroupOfUser}}
        <li><a href="/admin/">Admin area</a></li>
        {{/if}}
        <li><a href="/logout/">Sign out</a></li>
      </ul>
    </small>
  </div>
