  <div id="sidebar" class="well sidebar-nav">
    <h5><i class="fa fa-home" aria-hidden="true"></i><b>&nbsp;Home</b></h5>
    <small>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/">Admin Area</a></li>
      </ul>
    </small>
    <h5><i class="fa fa-chevron-right" aria-hidden="true"></i><b>&nbsp;Pivoted Settings</b></h5>
    <small>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/statuses/">Statuses</a></li>
            <li><a href="/admin/categories/">Categories</a></li>
      </ul>
    </small>
    <h5><i class="fa fa-cog" aria-hidden="true"></i><b>&nbsp;User Admin</b></h5>
    <small>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/users/">Users</a></li>
        <li><a href="/admin/accounts/">Accounts</a></li>
        <li><a href="/admin/administrators/">Administrators</a></li>
      </ul>
    </small>
    <h5><i class="fa fa-users" aria-hidden="true"></i><b>&nbsp;Grops</b></h5>
    <small>
      <ul class="nav nav-pills nav-stacked">
            <li><a href="/admin/admin-groups/">Admin Groups</a></li>
            <li><a href="/admin/account-groups/">Account Groups</a></li>
      </ul>
    </small>
    <h5><i class="fa fa-sign-out" aria-hidden="true"></i></i><b>&nbsp;Exit</b></h5>
    <small>
      <ul class="nav nav-pills nav-stacked">
            <li><a href="/account/">Back to account</a></li>
            <li><a href="/logout/">Sign out</a></li>
      </ul>
    </small>
  </div>
