<br>
<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
    <div class="footer well well-sm" style="border: 1px solid lightgrey;">
  <div class="row">
      <div class="col-sm-3 text-center">
        <a href="/">Home</a></li><br>
        <a href="/contact/">Contact</a><br>
        <a href="/about/">About</a><br>
        <a href="/signup/">Signup</a><br>
        {{#if user.username}}
        <a href="/logout/">Sign Out</a><br>
        {{/if}}
      </div>
      <div class="col-sm-3 text-center">
        <!-- more categories -->
      </div>
      <div class="col-sm-3 text-right">
        {{#if contactPearson}}<b>{{contactPearson}}</b> <br> {{/if}}
        {{#if contactPhone}}{{contactPhone}} <br> {{/if}}
        {{#if contactAdress}}<small>{{contactAdress}}</small> <br> {{/if}}
      </div>
      <div class="col-sm-3 text-center">
        <h4><span class="label label-default">
          <b>{{contactCompany}}</b>&emsp;&#9400;&nbsp;{{copyrightYear}}
        </span></h4>
      </div>
    </div>
  </div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->