<div class="container"> <!-- wrapper -->
  <div class="row"> <!-- wrapper row -->

  <!-- Topper w/ logo -->
  <div class="row">
    <div class="col-sm-3">
      <!-- site logo here -->
    </div>
    <div class="col-sm-6">
      <br>
      <br>
      <br>
    </div>
    <div class="col-sm-3">
      <!-- ad here -->
    </div>
  </div> <!-- End Topper -->


   <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <!-- <img src="/img/logo-symbol-64x64.png" alt="Logo" class="navbar-logo"/> -->
          <span class="navbar-brand-label">{{projectName}}</span>
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-3">
        <ul class="nav navbar-nav navbar-right">
          {{#ifCond user '&&' user.username}}
          <li><a href="{{user.defaultReturnUrl}}">Welcome,&nbsp;<b>{{user.username}}</b></a></li>
          {{/ifCond}}
          <li></li>
          {{#ifCond user '&&' user.username}}
          <li><a href="/logout">Sign out</a></li>
          {{else}}
          <li><a href="/login/">Sign In</a></li>
          {{/ifCond}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</div> <!-- end wrapper row -->
</div><!-- end wrapper -->

