{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
    <div class="col-sm-6">
        <div class="page-header">
            <h1>Reset Your Password</h1>
        </div>
        <div id="reset"></div>
    </div>
</div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-reset">
    <form>
        \{{#each errors}}
        <div class="alerts">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" data-dismiss="alert" class="close">&times;</button>
                \{{this}}
            </div>
        </div>
        \{{/each}}
        \{{#if success}}
        <div class="alert alert-info alert-dismissable">
            Your password has been reset. Please login to confirm.
            <button type="button" data-dismiss="alert" class="close">&times;</button>
        </div>
        \{{/if}}
        \{{#ifCond id '==' undefined}}
        <div class="alert alert-warning alert-dismissable">
            You do not have a valid reset request.
            <button type="button" data-dismiss="alert" class="close">&times;</button>
        </div>
        \{{/ifCond}}
        \{{#unless success}}
            \{{#ifCond id '!=' undefined}}
            <div class="form-group \{{#if errfor.password}}has-error \{{/if}}">
                    <label>New Password:</label>
                    <input type="password" name="password" value="\{{password}}" class="form-control"/>
                    \{{#if errfor.password}}
                    <span class="help-block">\{{errfor.password}}></span>
                    \{{/if}}
                </div>
                <div class="form-group \{{#if errfor.confirm}}has-error \{{/if}}">
                    <label>Confirm Password:</label>
                    <input type="password" name="confirm" value="\{{confirm}}" class="form-control"/>
                    \{{#if errfor.confirm}}
                    <span class="help-block">\{{errfor.confirm}}</span>
                    \{{/if}}
                </div>
            \{{/ifCond}}
        \{{/unless}}
        
        <div class="form-group">
        \{{#unless success}}
            \{{#ifCond id '!=' undefined}}
                <button type="button" class="btn btn-primary btn-reset">Set Password</button>
            \{{/ifCond}}
        \{{/unless}}
            <a href="/login/" class="btn btn-link">Back to Login</a>
        </div>
    </form>
</script>
      <br> <!-- Empty line -->
      <br> <!-- Empty line -->

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/login/reset/index.js"></script>