<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Обязательное для заполнения заглавие страницы (выводится в поисковике) </title>
    <meta name="description" content="Обязательное для заполнения краткое описание страницы, выводится в поисковике">
    <meta name="keywords" content="Обязательное для заполнения - перечень ключевых слов, опционально используется поисковиками, кратко">


<!--     добавляется в том случае, если не нужно, чтобы страница индексировалась и учитывались гиперссылки
<meta name="robots" content="noindex, nofollow">
 -->
    <!-- сделать фавикон на этом сайте http://realfavicongenerator.net/ -->

<!--  <link rel="stylesheet" href="/css/vendor.min.css">
 <link rel="stylesheet" href="/css/main.min.css">
 --> 
<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
 -->



  </head>
  <body>



{{{body}}}



<!-- <script src="/js/vendor.min.js"></script>
 -->
<!-- <script src="/js/main.min.js"></script>
 -->
<!-- Подключение иконок -->
    <script src="https://use.fontawesome.com/7ac8fe504d.js"></script>

  </body>
</html>

