
  <title>Server Error</title> 



<h1>Server Error
  <p class="lead">Sorry something went wrong.</p>
</h1>
  <p class="lead">
    {{#if err.stack}}
    <pre> {{err.stack}} </pre>    
    {{/if}}
  </p>
