{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
<div class="jumbotron text-center">
  <h1>Success</h1>
  <p class="lead">Your Node.js website and user system is running. May the force be with you.</p>
  <div><a href="/signup/" class="btn btn-primary btn-lg">Create an Account</a>&nbsp;or&nbsp;<a href="/login/forgot/" class="btn btn-warning btn-lg">Reset Your Password</a></div>
  <div class="clearfix"></div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>About Us</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p><a href="/about/" class="btn btn-default btn-block">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Sign Up</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p><a href="/signup/" class="btn btn-default btn-block">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Contact Us</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p><a href="/contact/" class="btn btn-default btn-block">Learn More</a>
      </div>
    </div>
  </div>
</div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>