<h3>Forgot your password?</h3>
<p>We received a request to reset the password for your account {{username}}.</p>
<p>To reset your password, click on the link below (or copy and paste the URL into your browser):</p>
<p><a href="{{resetLink}}">{{resetLink}}</a>  </p>
<p>Thanks,
<br/> {{projectName}}
</p>