

Forgot your password?
We received a request to reset the password for your account {{username}}.

To reset your password, click on the link below (or copy and paste the URL into your browser):
<a href="{{resetLink}}">{{resetLink}}</a>

Thanks, {{projectName}}