{{>header}}


<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
  <div class="col-sm-6">
    <div class="page-header">
      <h1>Forgot Your Password?</h1>
    </div>
    <div id="forgot"></div>
  </div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-forgot">
  <form>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
    </div>
    \{{/each}}
    \{{#if success}}
    <div class="alert alert-info">
      <button type="button" data-dismiss="alert" class="close">&times;</button>
      If an account matched that address, an email will be sent with instructions.
    </div>
    \{{/if}}
    \{{#unless success}}
    <div class="form-group \{{#if errfor.email}}has-error \{{/if}}" >
      <label>Enter Your Email:</label>
      <input type="text" name="email" value="\{{email}}" class="form-control"/>
      \{{#if errfor.email}}
      <span class="help-block">\{{errfor.email}}</span>
      \{{/if}}
    </div>
    \{{/unless}}
    <div class="form-group">
      \{{#unless success}}
      <button type="button" class="btn btn-primary btn-forgot">Send Reset</button>
      \{{/unless}}
      &nbsp;
      <a href="/login/" class="btn btn-link">Back to Login</a>
    </div>
  </form>
</script>
      <br> <!-- Empty line -->
      <br> <!-- Empty line -->


{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/login/forgot/index.js"></script>
