<h3>Welcome to {{projectName}} </h3>
<p>Thanks for signing up. As requested, your account has been created. Here are your login credentials:</p>
<table border="0" cellpadding="5" cellspacing="5" bgcolor="#D5E3F8">
  <tr>
    <td>Username:</td>
    <td>{{username}}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{email}}</td>
  </tr>
  <tr>
    <td>Login Here:</td>
    <td>{{loginURL}}</td>
  </tr>
</table>
<p>Thanks,
  <br/> {{projectName}}
</p>