{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
  <div class="col-sm-6">
    <div class="page-header">
      <h1>Sign Up</h1>
    </div>
    <div id="signup"></div>
      <hr/>
      <p>
        <h4>Or sign in using...</h4>
        {{#if oauthMessage}}
        <div class="alerts">
          <div class="alert alert-info alert-dismissable">
            <button type="button" data-dismiss="alert" class="close">&times;</button>
            {{oauthMessage}}&nbsp;
            <b>
              <a href="/signup/">Sign Up Here</a>
            </b>
          </div>
        </div>
        {{/if}}
      </p>
      <div class="form-actions">
        <div class="btn-group btn-group-justified">
          {{#if oauthTwitter}}
          <a href="/login/twitter/" class="btn btn-info"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
          {{/if}}
          {{#if oauthFacebook}}
          <a href="/login/facebook/" class="btn btn-info"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a>
          {{/if}}
          {{#if oauthGoogle}}
          <a href="/login/google/" class="btn btn-info"><i class="fa fa-google-plus-square fa-lg"></i> Google</a>
          {{/if}}
        </div>
      </div>
  </div>
  <div class="col-sm-6 marketing">
    <div class="page-header">
      <h1>Campy Benefits</h1>
    </div>
    <p class="lead">Really, you will love it inside. It's super great!</p><i class="fa fa-thumbs-o-up super-awesome"></i>
  </div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-signup">
  <form>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
    </div>
    \{{/each}}
    <div class="form-group \{{#if errfor.username}}has-error \{{/if}}">
      <label>Pick a Username:</label>
      <input type="text" name="username" value="\{{username}}" class="form-control"/>
      \{{#if errfor.username}}
      <span class="help-block">\{{errfor.username}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.email}}has-error \{{/if}}">
      <label>Enter Your Email:</label>
      <input type="text" name="email" value="\{{email}}" class="form-control"/>
      \{{#if errfor.email}}
      <span class="help-block">\{{errfor.email}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.password}}has-error \{{/if}}">
      <label>Create a Password:</label>
      <input type="password" name="password" value="\{{password}}" class="form-control"/>
      \{{#if errfor.password}}
      <span class="help-block">\{{errfor.password}}</span>
      \{{/if}}
    </div>
      <div class="form-group \{{#if errfor.confirm}}has-error \{{/if}}">
      <label>Confirm Password:</label>
      <input type="password" name="confirm" value="\{{confirm}}" class="form-control"/>
      \{{#if errfor.confirm}}
      <span class="help-block">\{{errfor.confirm}}</span>
      \{{/if}}
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary btn-signup">Create My Account</button>
    </div>
  </form>
</script>

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/signup/index.js"></script>
