{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
  <div class="col-sm-6">
    <div class="page-header">
      <h1>Complete Sign Up</h1>
    </div>
    <div id="signup"></div>
  </div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-signup">
  <form>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger alert-dismissable">
        <button type="button" data-dismiss="alert" class="close">&times;</button>
        \{{this}}
      </div>
    </div>
    \{{/each}}
    <div class="form-group \{{#if errfor.email}}has-error \{/if}}">
      <label>Enter Your Email:</label>
      <input type="text" name="email" value="\{{email}}" class="form-control"/>
      \{{#if errfor.email}}
      <span class="help-block">\{{errfor.email}}</span>
      \{{/if}}
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-signup">Create My Account</button>
    </div>
  </form>
</script>
<script type="text/x-handlebars-template" id="data-email">{{{email}}}</script>

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/signup/social.js"></script>
