{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
<div class="col-lg-2">  <!-- sidebar -->
  {{>adminsidebar}}
</div> <!-- end sidebar -->

<div class="col-sm-10">  <!-- content area -->
  <div class="row">
  <div class="col-xs-12">
    <div id="header"></div>
    <div class="col-sm-6">
      <div id="details"></div>
      <div id="delete"></div>
    </div>
    <div class="col-sm-6">
      <div id="permissions"></div>
    </div>
  </div>
</div>
</div> <!-- end content area -->
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-header">
  <div class="page-header">
    <h1>
      <a href="/admin/account-groups/">Account Groups</a>&nbsp;/&nbsp;\{{name}}
    </h1>
  </div>
</script>

<script type="text/x-handlebars-template" id="tmpl-details">
  <fieldset>
    <legend>Details</legend>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/each}}
      \{{#if success}}
      <div class="alert alert-info alert-dismissable">
        <i class="fa fa-exclamation" aria-hidden="true"></i>&nbsp;
        <b>All user memberships for this group were removed</b><br>
        You will be shortly redirected to group list.
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.name}}has-error \{{/if}}">
      <label>Name:</label>
      <div class="input-group">
        <input type="text" name="name" value="\{{name}}" class="form-control"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary btn-update">Update</button>
        </div>
      </div>
      \{{#if errfor.name}}
      <span class="help-block">\{{errfor.name}}</span>
      \{{/if}}
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="tmpl-permissions">
  <fieldset>
    <legend>Permissions</legend>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/each}}
      \{{#if success}}
      <div class="alert alert-info alert-dismissable">
        Changes have been saved.
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/if}}
    </div>
    <div class="form-group">
      <span class="help-block">
        <span class="label label-warning">For information about server settings only</span>
      </span>
    </div>
    <div class="form-group \{{#if errfor.newPermission}}has-error \{{/if}}">
      <label>New Setting:</label>
      <div class="input-group">
        <input name="newPermission" type="text" placeholder="enter a name" class="form-control"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-success btn-add">Add</button>
        </div>
      </div>
      \{{#if errfor.newUSername}}
      <span class="help-block">\{{errfor.newUsername}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.newPermission}}has-error \{{/if}}">
      <label>Settings:</label>
      <div class="permissions">
        \{{#each permissions}}
        <div class="input-group">
          <input disabled="disabled" value="\{{this.name}}" class="form-control"/>
          <div class="input-group-btn">
            \{{#if this.permit}}
            <button type="button" disabled="disabled" class="btn btn-default btn-allow">Allow</button>
            <button type="button" class="btn btn-default btn-deny">Deny</button>
            \{{else}}
            <button type="button" class="btn btn-default btn-allow">Allow</button>
            <button type="button" disabled="disabled" class="btn btn-default btn-deny">Deny</button>
            \{{/if}}
            <button type="button" class="btn btn-danger btn-delete"><i class="fa fa-trash-o fa-inverse"></i></button>
          </div>
        </div>
        \{{/each}}
        \{{#ifCond permissions.length '==' 0}}
        <span class="badge">no permissions defined</span>
        \{{/ifCond}}
        \{{#if errfor.settings}}
        <span class="help-block">\{{errfor.settings}}</span>
        \{{/if}}
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-set">Save Settings</button>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="tmpl-delete">
  <fieldset>
    <legend>Danger Zone</legend>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/each}}
    </div>
    <div class="form-group">
      <span class="help-block">
        <span class="label label-danger">If you do this, it cannot be undone.</span>&nbsp;
        <span class="text-muted">You may also create orphaned document relationships too.</span>
      </span>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger btn-delete">Delete</button>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="data-record">{{{data.record}}}</script>

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/admin/account-groups/details.js"></script>