{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
  <div class="col-sm-6">
    <div class="page-header">
      <h1>Sign In</h1>
    </div>
    <div id="login"></div>
      <hr/>
      <p>Or sign in using...
      {{#if oauthMessage}}
        <div class="alerts">
          <div class="alert alert-info alert-dismissable">
            <button type="button" data-dismiss="alert" class="close">&times;</button>
            {{oauthMessage}}&nbsp;
            <b>
              <a href="/signup/">Sign Up Here</a>
            </b>
          </div>
        </div>
      {{/if}}
      </p>
      <div class="form-actions">
        <div class="btn-group btn-group-justified">
          {{#if oauthTwitter}}
          <a href="/login/twitter/" class="btn btn-info"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
          {{/if}}
          {{#if oauthFacebook}}
          <a href="/login/facebook/" class="btn btn-info"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a>
          {{/if}}
          {{#if oauthGoogle}}
          <a href="/login/google/" class="btn btn-info"><i class="fa fa-google-plus-square fa-lg"></i> Google</a>
          {{/if}}
        </div>
      </div>
  </div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-login">
  <form>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button> 
      </div>
    </div>
    \{{/each}}
    <div class="form-group \{{#if errfor.username}}has-error \{{/if}}">
      <label>Email:</label>
      <input type="text" name="username" value="\{{username}}" class="form-control"/>
      \{{#if errfor.username}}
      <span class="help-block">\{{errfor.username}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.password}}has-error \{{/if}}">
      <label>Password:</label>
      <input type="password" name="password" value="\{{password}}" class="form-control"/>
      \{{#if errfor.password}}
      <span class="help-block">\{{errfor.password}}</span>
      \{{/if}}
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-primary btn-login">Sign In</button>
      &nbsp;
      <a href="/login/forgot/" class="btn btn-link">Forgot your password?</a>
    </div>
  </form>
</script>
      <br> <!-- Empty line -->
      <br> <!-- Empty line -->

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/login/index.js"></script>
