{{projectName}} Email Verification
= '\n'
= '\n'
Your {{projectName}} account is nearly ready. Please visit the link below to confirm your email address.
= '\n'
= '\n'
{{verifyURL}}
= '\n'
= '\n'
Note: If you did not sign for a {{projectName}} account, don't worry. You can ignore this email.
= '\n'
= '\n'
Thanks,
{{projectName}}