<h3> {{projectName}} Email Verification</h3>
<p>Your {{projectName}} account is nearly ready. Please visit the link below to confirm your email address.</p>
<a href="{{verifyURL}}">{{verifyURL}}</a>
<p>Note: If you did not sign for a {{projectName}} account, don't worry. You can ignore this email.</p>
<p>Thanks,
  <br/> {{projectName}}
</p>