{{>header}}



<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
  <div class="col-sm-6">
    <div class="page-header">
      <h1>Verification Required</h1>
    </div>
    <div class="alert alert-warning">Your account is nearly ready. Check your inbox for next steps.<br />
    If you recieved verification email, follow the link to complete signup.<br />
    You may also request additional email in the form below. </div>
    <div id="verify"></div>
  </div>
  <div class="col-sm-6 special">
    <div class="page-header">
      <h1>You're Almost Done</h1>
    </div><i class="fa fa-key super-awesome"></i>
  </div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-verify">
  <form>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/each}}
      \{{#if success}}
      <div class="alert alert-info alert-dismissable">
        Verification email successfully re-sent.
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/if}}
    </div>
    \{{#unless success}}
    <div class="not-received \{{#ifCond keepFormOpen '==' false}}not-received-hidden\{{/ifCond}}">
      <a class="btn btn-link btn-resend">I checked my email and spam folder, nothing yet.</a>
    </div>
    <div class="verify-form \{{#ifCond keepFormOpen '==' true}}verify-form-hidden \{{/ifCond}}">
      <div class="form-group \{{#if errfor.email}}has-error \{{/if}}">
        <label>Your Email:</label>
        <input type="text" name="email" value="\{{email}}" class="form-control"/>
        \{{#if errfor.email}}
        <span class="help-block">\{{errfor.email}}</span>
        \{{/if}}
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-verify">Re-Send Verification</button>
      </div>
    </div>
    \{{/unless}}
  </form>
</script>

<script type="text/x-handlebars-template" id="data-user">{{{data.user}}}</script>

{{>footer}}


<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/account/verification/index.js"></script>