{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
<div class="col-lg-2">  <!-- sidebar -->
  {{>accountsidebar}}
</div> <!-- end sidebar -->

  <div id="body" class="col-lg-10">
    <div class="row">
      <div class="col-sm-9">
        <div id="details"></div>
      </div>
      <div class="col-sm-3"> 
        <legend>Social Connections</legend>
        {{#if oauthMessage}}
        <div class="alerts">
          <div class="alert alert-info alert-dismissable">
            {{oauthMessage}}
            <button class="close" type="button" data-dismiss="alert">&times;</button>
          </div>
        </div>
        {{/if}}
        {{#if oauthTwitter}}
        {{#if oauthTwitterActive}}
        <a class="btn btn-block btn-danger" href="/account/settings/twitter/disconnect/"><i class="fa fa-twitter fa-lg"></i> Disconnect Twitter</a>
        {{else}}
        <a class="btn btn-block btn-default" href="/account/settings/twitter/"><i class="fa fa-twitter fa-lg"></i> Connect Twitter</a>
        {{/if}}
        {{/if}}
        {{#if oauthFacebook}}
        {{#if oauthFacebookActive}}
        <a class="btn btn-block btn-danger" href="/account/settings/facebook/disconnect/"><i class="fa fa-facebook-square fa-lg"></i> Disconnect Facebook</a>
        {{else}}
        <a class="btn btn-block btn-default" href="/account/settings/facebook/"><i class="fa fa-facebook-square fa-lg"></i> Connect Facebook</a>
        {{/if}}
        {{/if}}
        {{#if oauthGoogle}}
        {{#if oauthGoogleActive}}
        <a class="btn btn-block btn-danger" href="/account/settings/google/disconnect/"><i class="fa fa-google-plus-square fa-lg"></i> Disconnect Google</a>
        {{else}}
        <a class="btn btn-block btn-default" href="/account/settings/google/"><i class="fa fa-google-plus-square fa-lg"></i> Connect Google</a>
        {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-details">
  <fieldset>
    <legend>Contact Info</legend>
      \{{#each errors}}
      <div class="alerts">
        <div class="alert alert-danger alert-dismissable">
        \{{this}}
        </div>
      </div>
      \{{/each}}
      \{{#if success}}
      <div class="alert alert-info alert-dismissable">
        Changes have been saved.
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.first}}has-error \{{/if}}">
      <label>First Name:</label>
      <input type="text" name="first" value="\{{first}}" placeholder="Enter your first name" class="form-control"/>
      \{{#if errfor.first}}
      <span class="help-block">\{{errfor.first}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.last}}has-error \{{/if}}">
      <label>Last Name:</label>
      <input type="text" name="last" value="\{{last}}" placeholder="Enter your last name" class="form-control"/>
      \{{#if errfor.last}}
      <span class="help-block">\{{errfor.last}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.phone}}has-error \{{/if}}">
      <label>Phone:</label>
      <input type="text" name="phone" value="\{{phone}}" placeholder="Enter phone in intl format +XXXXXXXXXXXX" class="form-control"/>
      \{{#if errfor.phone}}
      <span class="help-block">\{{errfor.phone}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.company}}has-error \{{/if}}">
      <label>Company:</label>
      <input type="text" name="company" value="\{{company}}" placeholder="Enter company name" class="form-control"/>
      \{{#if errfor.company}}
      <span class="help-block">\{{errfor.company}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.occupation}}has-error \{{/if}}">
      <label>Occupation:</label>
      <input type="text" name="occupation" value="\{{occupation}}" placeholder="Enter occupation" class="form-control"/>
      \{{#if errfor.occupation}}
      <span class="help-block">\{{errfor.occupation}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.about}}has-error \{{/if}}">
      <label>About yourself:</label>
      <textarea type="text" name="about" value="\{{about}}" class="form-control" placeholder="Your bio here"></textarea>
      \{{#if errfor.about}}
      <span class="help-block">\{{errfor.about}}</span>
      \{{/if}}
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-update">Update</button>
    </div>
  </fieldset>
</script>



<script type="text/x-handlebars-template" id="data-user">{{{data.user}}}</script>

{{>footer}}


<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/account/settings/index.js"></script>