{{>header}}

<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
<div class="col-lg-2">  <!-- sidebar -->
  {{>adminsidebar}}
</div> <!-- end sidebar -->

<div class="col-sm-10">  <!-- content area -->
      <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#user-info" data-toggle="tab"><b>User Infomation</b></a></li>
        <li><a href="#user-notes" data-toggle="tab"><b>User Notes</b></a></li>
        <li><a href="#edit-user" data-toggle="tab"><b>Edit User Profile</b></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="user-info">
      <br> <!-- Empty line -->
          <div class="row">
            <div class="col-sm-4">
              <fieldset>
                <div id="metadatas-collection"></div>
              </fieldset>
            </div>
            <div class="col-sm-4">
              <fieldset>
                <div id="visits-collection"></div>
              </fieldset>
            </div>
            <div class="col-sm-4">
              <fieldset>
                <div id="actions-collection"></div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="user-notes">
      <br> <!-- Empty line -->
          <div class="row">
            <div class="col-sm-12">
              <fieldset>
                <div id="notes-new" class="notes-new"></div>
                <div id="notes-collection"></div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="edit-user">
      <br> <!-- Empty line -->
          <div class="row">
            <div class="col-sm-6">
              <div id="identity"></div>
            </div>
            <div class="col-sm-6">
              <div id="link-account"></div>
              <div id="link-admin"></div>
              <div id="password"></div>
              <div id="delete"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> <!-- end content area -->
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

<script type="text/x-handlebars-template" id="tmpl-header">
  <div class="page-header">
    <h3>
      <a href="/admin/users/">Users</a> 
      / \{{username}}
    </h3>
  </div>
</script>

<script type="text/x-handlebars-template" id="tmpl-identity">
  <fieldset>
    <legend>Identity</legend>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
    </div>
    \{{/each}}
    \{{#if success}}
    <div class="alert alert-info alert-dismissable">
      Changes have been saved.
      <button type="button" data-dismiss="alert" class="close">&times;</button>
    </div>
    \{{/if}}
    <div class="form-group \{{#if errfor.isActive}}has-error \{{/if}}">
      <label>Is Active:</label>
      <select name="isActive" class="form-control">
        <option value="yes">yes</option>
        <option value="no">no</option>
      </select>
      \{{#if errfor.isActive}}
      <span class="help-block">\{{errfor.isActive}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.email}}has-error \{{/if}}">
      <label>Username:</label>
      <input type="text" name="username" value="\{{username}}" class="form-control"/>
      \{{#if errfor.username}}
      <span class="help-block">\{{errfor.username}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.email}}has-error \{{/if}}">
      <label>Email:</label>
      <input type="text" name="email" value="\{{email}}" class="form-control"/>
      \{{#if errfor.email}}
      <span class="help-block">\{{errfor.email}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.first}}has-error \{{/if}}">
      <label>First Name:</label>
      <input type="text" name="first" value="\{{first}}" placeholder="Enter your first name" class="form-control"/>
      \{{#if errfor.first}}
      <span class="help-block">\{{errfor.first}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.last}}has-error \{{/if}}">
      <label>Last Name:</label>
      <input type="text" name="last" value="\{{last}}" placeholder="Enter your last name" class="form-control"/>
      \{{#if errfor.last}}
      <span class="help-block">\{{errfor.last}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.phone}}has-error \{{/if}}">
      <label>Phone:</label>
      <input type="text" name="phone" value="\{{phone}}" placeholder="Enter phone in intl format +XXXXXXXXXXXX" class="form-control"/>
      \{{#if errfor.phone}}
      <span class="help-block">\{{errfor.phone}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.company}}has-error \{{/if}}">
      <label>Company:</label>
      <input type="text" name="company" value="\{{company}}" placeholder="Enter company name" class="form-control"/>
      \{{#if errfor.company}}
      <span class="help-block">\{{errfor.company}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.occupation}}has-error \{{/if}}">
      <label>Occupation:</label>
      <input type="text" name="occupation" value="\{{occupation}}" placeholder="Enter occupation" class="form-control"/>
      \{{#if errfor.occupation}}
      <span class="help-block">\{{errfor.occupation}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.about}}has-error \{{/if}}">
      <label>About yourself:</label>
      <textarea type="text" name="about" value="\{{about}}" rows="5" class="form-control" placeholder="Your bio here"></textarea>
      \{{#if errfor.about}}
      <span class="help-block">\{{errfor.about}}</span>
      \{{/if}}
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-update">Update</button>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="tmpl-link-account">
  <fieldset>
    <legend>Link To Account</legend>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
    </div>
    \{{/each}}
    <div class="form-group \{{#if errfor.newAccountId}}has-error \{{/if}}">
      <label>Account:</label>
      <div class="controls">
        \{{#ifCond roles '&&' roles.account}}
        <div class="input-group">
          <input disabled="disabled" value="\{{roles.account.name.full}}" class="form-control"/>
          <div class="input-group-btn">
            <button type="button" class="btn btn-warning btn-account-unlink">Unlink</button>
            <button type="button" class="btn btn-default btn-account-open">Open</button>
          </div>
        \{{else}}
          <input name="newAccountId" type="text" placeholder="enter account id" class="form-control"/>
          <div class="input-group-btn">
            <button type="button" class="btn btn-success btn-account-link">Link</button>
          </div>
        \{{/ifCond}}
        </div>
        {{#if errfor.newAccountId}}
        <span class="help-block">{{errfor.newAccountId}}</span>
        {{/if}}
      </div>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="tmpl-link-admin">
  <fieldset>
    <legend>Link To Admin</legend>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
    </div>
    \{{/each}}
    <div class="form-group \{{#if errfor.newAdminId}}has-error \{{/if}}">
      <label>Admin:</label>
      <div class="controls">
        \{{#ifCond roles '&&' roles.admin}}
        <div class="input-group">
          <input disabled="disabled" value="\{{roles.admin.name.full}}" class="form-control"/>
          <div class="input-group-btn">
            <button type="button" class="btn btn-warning btn-admin-unlink">Unlink</button>
            <button type="button" class="btn btn-default btn-admin-open">Open</button>
          </div>
        \{{else}}
          <input name="newAdminId" type="text" placeholder="enter admin id" class="form-control"/>
          <div class="input-group-btn">
            <button type="button" class="btn btn-success btn-admin-link">Link</button>
          </div>
        \{{/ifCond}}
        </div>
        \{{#if errfor.newAdminId}}
        <span class="help-block">\{{errfor.newAdminId}}</span>
        \{{/if}}
      </div>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebrs-template" id="tmpl-password">
  <fieldset>
    <legend>Set Password</legend>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
    </div>
    \{{/each}}
    \{{#if success}}
    <div class="alert alert-info alert-dismissable">
      A new password has been set.
      <button type="button" data-dismiss="alert" class="close">&times;</button>
    </div>
    \{{/if}}
    <div class="form-group \{{#if errfor.newPassword}}has-error \{{/if}}">
      <label>New Password:</label>
      <input type="password" name="newPassword" value="\{{newPassword}}" class="form-control"/>
      \{{#if errfor.newPassword}}
      <span class="help-block">\{{errfor.newPassword}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.confirm}}has-error \{{/if}}">
      <label>Confirm Password:</label>
      <input type="password" name="confirm" value="\{{confirm}}" class="form-control"/>
      \{{#if errfor.confirm}}
      <span class="help-block">\{{errfor.confirm}}</span>
      \{{/if}}
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-password">Set Password</button>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-template" id="tmpl-notes-new">
  <legend>Notes</legend>
  \{{#each errors}}
  <div class="alerts">
    <div class="alert alert-danger alert-dismissable">
      \{{this}}
      <button type="button" data-dismiss="alert" class="close">&times;</button>
    </div>
  </div>
  \{{/each}}
  <textarea rows="3" name="data" placeholder="enter notes" class="form-control"></textarea>
  <button class="btn btn-default btn-block btn-add">Add New Note</button>
</script>

<script type="text/x-handlebars-template" id="tmpl-notes-collection">
  <div id="notes-items" class="notes-items"></div>
</script>

<script type="text/x-handlebars-template" id="tmpl-notes-item">
  <div class="panel panel-default">
    <div class="panel-body">
  <fieldset>
  <h5>\{{data}}</h5>
  </div>
  <div class="center-block label label-default">
    Added&nbsp;by&nbsp;<b>\{{userCreated.name}}</b><br>
    <span class="timeago">\{{userCreated.time}}</span>
  </div>
  <button class="btn btn-default btn-block btn-delete-note">Delete This Note</button>
  </fieldset>
  </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="tmpl-notes-none">
  <div class="note text-muted">no notes found</div>
</script>

<script type="text/x-handlebars-template" id="tmpl-actions-collection">
  <legend>Actions</legend>
  <div id="actions-items" class="actions-items"></div>
</script>

<script type="text/x-handlebars-template" id="tmpl-actions-item">
  <div class="panel panel-default">
    <div class="panel-body">
  <fieldset>
  <div>\{{data}}</div>
  </div>
  <div class="center-block label label-default">
    On&nbsp;{{dateFormat userCreated.time format="llll"}} <br>
  </div>
  </fieldset>
</div>
</div>
</script>

<script type="text/x-handlebars-template" id="tmpl-actions-none">
  <div class="action text-muted">No actions found yet</div>
</script>

<script type="text/x-handlebars-template" id="tmpl-metadatas-collection">
  <legend>User system info</legend>
  <div id="metadatas-items" class="metadatas-items"></div>
</script>

<script type="text/x-handlebars-template" id="tmpl-metadatas-item">
  <div class="panel panel-default">
    <div class="panel-body">
  <fieldset>
  <div>
    <b>IP Adress</b><br>
    \{{ip}}<br>
    <br>
    <b>User Agent</b><br>
    \{{agent}}<br>
    <br>
    <b>System Language</b><br>
    \{{language}}<br>
  </div>
  </div>
  <div class="center-block label label-default">
    Visitor&nbsp;-&nbsp;\{{userCreated.name}}
  </div>
  </fieldset>
  </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="tmpl-metadatas-none">
  <div class="metadata text-muted">No system information about user found yet</div>
</script>

<script type="text/x-handlebars-template" id="tmpl-visits-collection">
  <legend>Visits</legend>
  <div id="visits-items" class="visits-items"></div>
</script>

<script type="text/x-handlebars-template" id="tmpl-visits-item">
  <div class="panel panel-default">
    <div class="panel-body">
  <fieldset>
    <span class="timeago">\{{timeVisited}}</span>,<br>
    on&nbsp;{{dateFormat timeVisited format="LLLL"}}
  </div>
  <div class="center-block label label-default">
    Visitor&nbsp;-&nbsp;\{{userCreated.name}} <br>
  </div>
  </fieldset>
</div>
</div>
</script>

<script type="text/x-handlebars-template" id="tmpl-visits-none">
  <div class="visit text-muted">No visits recorded yet</div>
</script>


<script type="text/x-handlevars-template" id="tmpl-delete">
  <fieldset>
    <legend>Danger Zone</legend>
    \{{#each errors}}
    <div class="alerts">
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
    </div>
    \{{/each}}
    <div class="form-group">
      <span class="help-block">
        <span class="label label-danger">If you do this, it cannot be undone.</span>&nbsp;
        <span class="text-muted">You may also create orphaned document relationships too.</span>
      </span>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger btn-delete-user">Delete</button>
    </div>
  </fieldset>
</script> 

<script type="text/x-handlebars-template" id="data-record">{{{data.record}}}</script>

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/admin/users/details.js"></script>

