
<title>About Us</title>

{{>header}}


<div class="container"><!-- wrapper -->
<div class="row"><!-- wrapper row -->
  <div class="col-sm-6">
    <div class="page-header">
      <h1>About Us</h1>
    </div>
    <div class="media"><a href="#" class="pull-left"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686910-users_people_men_humans_heads_persons-512.png" style="width: 64px; height: 64px;" alt="Leo Damon" class="media-object"/></a>
      <div class="media-body">
        <h4 class="media-heading">Leo Damon</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
      </div>
    </div>
    <div class="media text-right"><a href="#" class="pull-right"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686910-users_people_men_humans_heads_persons-512.png" style="width: 64px; height: 64px;" alt="Mathew DiCaprio" class="media-object"/></a>
      <div class="media-body">
        <h4 class="media-heading">Mathew DiCaprio</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
      </div>
    </div>
    <div class="media"><a href="#" class="pull-left"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686910-users_people_men_humans_heads_persons-512.png" style="width: 64px; height: 64px;" alt="Nick Jackson" class="media-object"/></a>
      <div class="media-body">
        <h4 class="media-heading">Nick Jackson</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style= "text-align: center;">
    <div class="page-header">
      <h1>Prestige Worldwide</h1>
    </div>
    <p class="lead">The first name in entertainment.</p><i class="fa fa-volume-up super-awesome"></i>
  </div>
</div><!-- end wrapper row -->
</div><!-- end wrapper -->

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>