{{>header}}

<div class="col-lg-2">  <!-- sidebar -->
  {{>adminsidebar}}
</div> <!-- end sidebar -->

<div class="col-sm-10">  <!-- content area -->
<div class="row">
  <div class="col-xs-12">
    <div id="header"></div>
    <div id="details"></div>
    <div id="delete"></div>
  </div>
</div>
</div> <!-- end content area -->

<script type="text/x-handlebars-templates" id="tmpl-header">
  <div class="page-header">
    <h1><a href="/admin/statuses/">Statuses</a> / {{name}}</h1>
  </div>
</script>

P<script type="text/x-handlebars-templates" id="tmpl-details">
  <fieldset>
    <legend>Details</legend>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/each}}
      \{{#if success}}
      <div class="alert alert-info alert-dismissable">
        Changes have been saved.
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.pivot}}has-error \{{/if}}">
      <label>Pivot:</label>
      <input type="text" name="pivot" value="\{{pivot}}" class="form-control"/>
      \{{#if errfor.pivot}}
      <span class="help-block"> \{{errfor.pivot}}</span>
      \{{/if}}
    </div>
    <div class="form-group \{{#if errfor.name}}has-error \{{/if}}">
      <label>Name:</label>
      <input type="text" name="name" value="\{{name}}" class="form-control"/>
      \{{#if errfor.name}}
      <span class="help-block">\{{errfor.name}}</span>
      \{{/if}}
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-update">Update</button>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-templates" id="tmpl-delete">
  <fieldset>
    <legend>Danger Zone</legend>
    <div class="alerts">
      \{{#each errors}}
      <div class="alert alert-danger alert-dismissable">
        \{{this}}
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      </div>
      \{{/each}}
    </div>
    <div class="form-group">
      <span class="help-block">
        <span class="label label-danger">If you do this, it cannot be undone.</span>&nbsp;
        <span class="text-muted">You may also create orphaned document relationships too.</span>
      </span>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger btn-delete">Delete</button>
    </div>
  </fieldset>
</script>

<script type="text/x-handlebars-templates" id="data-record">{{{data.record}}}</script>

{{>footer}}

<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/main.min.css">

<script src="/js/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/core.js"></script>
<script src="/admin/statuses/details.js"></script>